.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background-color: white;
}

.title {
    color: red;
}

form {
    max-width: 600px;
    width: 100%;
    background: #f2f2f2;
    padding: 25px 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(221, 69, 69, 0.1);
    color: blue;
    margin: 25px;
}

form h2 {
    font-size: 2em;
    text-align: center;
}

form .input-box {
    margin-top: 20px;
}

.input-box .field {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    color: black;
    margin-top: 8px;
}

.input-box .field.mess {
    height: 200px;
    resize: none;
}

form button {
    width: 100%;
    height: 55px;
    background: rgb(231, 34, 34);
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: rgb(240, 239, 239);
    font-weight: 500;
    margin-top: 25px;
    transition: .5s;
}

form button:hover {
    background: rgb(46, 35, 241);
}