.header {
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 0 100px;
    background: #3586ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: red;
    text-shadow: 1px 1px 0 #fff;
    font-weight: bold;
}

.hamburger {
    display: none;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li a {
    display: block;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.navbar ul li a:hover{
    color: #fff;
    background: red;
    transition: 0.5s;
}

.navbar ul li a.active {
    color: #fff;
    background: red;
}

@media only screen and (max-width: 1320px) {
    .header{
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px) {
    .header{
        padding: 0 30px;
    }
}
@media only screen and (max-width: 900px) {
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: blue;
        margin: 6px 0;
    }
    .navbar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: rgb(242, 242, 242);
        transition: 0.5s;
        overflow: hidden;
    }
    .navbar.active{
        height: 450px;

    }
    .navbar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .navbar.active ul{
        opacity: 1;
    }
    .navbar ul li a{
        margin-bottom: 12px;
        
    }
}