.main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.main img {
    max-width: 100%; /* Asegura que la imagen nunca sea más grande que el contenedor */
    height: 100vh; /* Mantiene la proporción de la imagen */
    width: 100%; /* Puedes ajustar el porcentaje según cómo quieras que se vea en pantallas grandes */
    margin-top: 5rem;
}

/* Ajustes para pantallas medianas (tablets) */
@media (max-width: 768px) {
    .main img {
        width: 100%; /* Ajusta el tamaño para pantallas más pequeñas */
        height: 50%;
    }
}

/* Ajustes para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    .main img {
        width: 100%; /* Aumenta el tamaño para pantallas muy pequeñas */
        height: 100%;
    }
}
